# Terraform data directories.
.terraform/

# Terraform state files.
*.tfstate
*.tfstate.*

# Terraform variable files.
*.tfvars
*.tfvars.json

# Terraform CLI configuration files.
.terraformrc
terraform.rc

# Terraform override files.
*_override.tf
*_override.tf.json
override.tf
override.tf.json

# Terraform crash logs.
crash.*.log
crash.log
